-e .
black==24.8.0
coverage==7.6.1
mypy==1.11.1
pdoc==14.6.0
pip==24.2
pre-commit==3.8.0
pytest-cov==5.0.0
pytest==8.3.2
ruff==0.5.6


aiohttp==3.10.1
click==8.1.7
freezegun==1.5.1
ical==8.1.1
pydantic==2.8.2
pytest-aiohttp==1.0.5
pytest-asyncio==0.23.8
pytz==2024.1
