-e .
aiohttp==3.8.5
black==23.7.0
click==8.1.6
coverage==7.2.7
freezegun==1.2.2
ical==5.0.0
mypy==1.4.1
pdoc==14.0.0
pre-commit==3.3.3
pydantic==2.0.3
pytest==7.4.0
pytest-aiohttp==1.0.4
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytz==2023.3
ruff==0.0.280
