-e .
aiohttp==3.8.6
black==23.10.1
click==8.1.7
coverage==7.3.2
freezegun==1.2.2
ical==5.1.0
mypy==1.6.1
pdoc==14.1.0
pre-commit==3.5.0
pydantic==2.4.2
pytest==7.4.3
pytest-aiohttp==1.0.5
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytz==2023.3.post1
ruff==0.1.3
